{% extends 'base.html' %}
{% block content %}
<p><h4>&nbsp;&nbsp;IP Subnet Informatin Query</h4></p>
<body>
<div align="center">
<form action="" method="post" id="ipform">
	{% csrf_token %}
<label for="ip">
<span>Your IP address: </span><input type="text" value="" name="your_ip" required="true" />
</label>
<label for="subnet">
<span>Subnet Mask: </span>
</label>
<select class="option-style-2" name="your_subnet" form="ipform" required="true">
<option class="option-style-2">128.0.0.0</option>
<option class="option-style-2">192.0.0.0</option>
<option class="option-style-2">224.0.0.0</option>
<option class="option-style-2">240.0.0.0</option>
<option class="option-style-2">248.0.0.0</option>
<option class="option-style-2">252.0.0.0</option>
<option class="option-style-2">254.0.0.0</option>
<option class="option-style-2">255.0.0.0</option>
<option class="option-style-2">255.128.0.0</option>
<option class="option-style-2">255.192.0.0</option>
<option class="option-style-2">255.224.0.0</option>
<option class="option-style-2">255.240.0.0</option>
<option class="option-style-2">255.248.0.0</option>
<option class="option-style-2">255.252.0.0</option>
<option class="option-style-2">255.254.0.0</option>
<option class="option-style-2">255.255.0.0</option>
<option class="option-style-2">255.255.128.0</opiton>
<option class="option-style-2">255.255.192.0</opiton>
<option class="option-style-2">255.255.224.0</opiton>
<option class="option-style-2">255.255.240.0</opiton>
<option class="option-style-2">255.255.248.0</opiton>
<option class="option-style-2">255.255.252.0</opiton>
<option class="option-style-2">255.255.254.0</opiton>
<option class="option-style-2">255.255.255.0</opiton>
<option class="option-style-2">255.255.255.128</option>
<option class="option-style-2">255.255.255.192</option>
<option class="option-style-2">255.255.255.224</option>
<option class="option-style-2">255.255.255.240</option>
<option class="option-style-2">255.255.255.248</option>
<option class="option-style-2">255.255.255.252</option>


</select>

<label>
<br>
<span> </span><input type="submit" value="Check" />
</label>


</form>




{% if result %}
<table class=a>
	<tr>
		<th>IP Address</th>
		<th>Subnet Mask</th>
		<th>Network Address</th>
		<th>Usable IP range</th>
		<th>Broadcast Address</th>
		<th>Next Network Address</th>
	</tr>

	<tr>
		<td>{{yourip}}</td>
		<td>{{yoursubnet}}</td>
		<td>{{network}}</td>
		<td>{{iprange}}</td>
		<td>{{bid}}</td>
		<td>{{nextnet}}</td>
	</tr>
</table>
<br>
<form class="form-style-4" method="get"><button type='submit' a href="{% url 'subnet' %}">Check Again</a></button></form>
{% endif %}

</div>
{% endblock %}